# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.production.local
.env.development.local

# build
dist/
build/

# turbopack
.turbo/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# coverage
coverage/

# prisma
*.db

# vscode
.vscode/
